.auth-container, .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.auth-form, .register-form {
    background: #d31414;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
